// Copyright 2019 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

import "oaidl.idl";
import "ocidl.idl";


// Public interfaces for the Chromium Updater.
// For documentation, see the similar types defined in updater::UpdateService.

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-05a0ad46-45f4-4418-ae74-5d02a8d589fb",
      "system":"PLACEHOLDER-GUID-3a4af098-4de8-4b08-9f7b-1f448672ff57"
    },
    "tokensToSuffix": ["IUpdateState"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-561c4cda-67b4-4f07-8034-57686c169a85),
  helpstring("IUpdateState Interface"),
  pointer_default(unique)
]
interface IUpdateState : IUnknown {
  [propget] HRESULT state([out, retval] LONG*);
  [propget] HRESULT appId([out, retval] BSTR*);
  [propget] HRESULT nextVersion([out, retval] BSTR*);
  [propget] HRESULT downloadedBytes([out, retval] LONGLONG*);
  [propget] HRESULT totalBytes([out, retval] LONGLONG*);
  [propget] HRESULT installProgress([out, retval] LONG*);
  [propget] HRESULT errorCategory([out, retval] LONG*);
  [propget] HRESULT errorCode([out, retval] LONG*);
  [propget] HRESULT extraCode1([out, retval] LONG*);
  [propget] HRESULT installerText([out, retval] BSTR*);
  [propget] HRESULT installerCommandLine([out, retval] BSTR*);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-4c51462d-633c-4aba-8992-f6aa96be2811",
      "system":"PLACEHOLDER-GUID-6e558213-32b7-43aa-b264-b43742b89775"
    },
    "tokensToSuffix": ["ICompleteStatus"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-05e1af35-4049-4e5f-899d-a5d2a2004584),
  helpstring("ICompleteStatus Interface"),
  pointer_default(unique)
]
interface ICompleteStatus : IUnknown {
  [propget] HRESULT statusCode([out, retval] LONG*);
  [propget] HRESULT statusMessage([out, retval] BSTR*);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-c8f78e13-fc5e-4d6b-aa77-4d5ba9814a5a",
      "system":"PLACEHOLDER-GUID-ba95a33a-f4af-42cc-817a-c1af234cda6f"
    },
    "tokensToSuffix": ["IUpdaterObserver", "IUpdateState", "ICompleteStatus"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-b821c062-7b0d-4752-bd8c-09a57482d354),
  helpstring("IUpdaterObserver Interface"),
  pointer_default(unique)
]
interface IUpdaterObserver : IUnknown {
  HRESULT OnStateChange([in] IUpdateState* update_state);
  HRESULT OnComplete([in] ICompleteStatus* status);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-213bcdb7-f6e5-4852-852b-2a3daed80125",
      "system":"PLACEHOLDER-GUID-3a3c8f26-bad0-40ad-8dd9-e25377552d65"
    },
    "tokensToSuffix": ["IUpdaterCallback"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-fc220576-3e97-482c-89ad-3df31fcf9bce),
  helpstring("IUpdaterCallback Interface"),
  pointer_default(unique)
]
interface IUpdaterCallback : IUnknown {
  HRESULT Run([in] LONG result);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-028FEB84-44BC-4A73-A0CD-603678155CC3",
      "system":"PLACEHOLDER-GUID-92631531-8044-46F4-B645-CDFBCCC7FA3B"
    },
    "tokensToSuffix": ["IUpdaterAppState"],
    "addToLibrary": ["", "user", "system"]
  }
)
[
  object,
  dual,
  uuid(PLACEHOLDER-GUID-A22AFC54-2DEF-4578-9187-DB3B24381090),
  helpstring("IUpdaterAppState Interface"),
  pointer_default(unique)
]
interface IUpdaterAppState : IDispatch {
  [propget] HRESULT appId([out, retval] BSTR*);
  [propget] HRESULT version([out, retval] BSTR*);
  [propget] HRESULT ap([out, retval] BSTR*);
  [propget] HRESULT brandCode([out, retval] BSTR*);
  [propget] HRESULT brandPath([out, retval] BSTR*);
  [propget] HRESULT ecp([out, retval] BSTR*);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-BCFCF95C-DE48-4F42-B0E9-D50DB407DB53",
      "system":"PLACEHOLDER-GUID-2CB8867E-495E-459F-B1B6-2DD7FFDBD462"
    },
    "tokensToSuffix": ["IUpdaterAppStatesCallback"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-EFE903C0-E820-4136-9FAE-FDCD7F256302),
  helpstring("IUpdaterAppStatesCallback Interface"),
  pointer_default(unique)
]
interface IUpdaterAppStatesCallback : IUnknown {
  HRESULT Run([in] VARIANT app_states);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-4808f7ec-9328-460c-bf5c-205f535d9083",
      "system":"PLACEHOLDER-GUID-f3b9c0b6-f616-4594-8d2b-cb94ce5d0609"
    },
    "tokensToSuffix": ["IUpdater", "IUpdaterCallback",
                       "IUpdaterAppStatesCallback", "IUpdaterObserver"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-e4978a53-2b98-415b-9cd9-5f8ffcf2cd8d),
  helpstring("IUpdater Interface"),
  pointer_default(unique)
]
interface IUpdater : IUnknown {
  HRESULT GetVersion([out, retval] BSTR* version);
  HRESULT FetchPolicies([in] IUpdaterCallback* callback);
  HRESULT RegisterApp([in, string] const WCHAR* app_id,
                      [in, string] const WCHAR* brand_code,
                      [in, string] const WCHAR* brand_path,
                      [in, string] const WCHAR* tag,
                      [in, string] const WCHAR* version,
                      [in, string] const WCHAR* existence_checker_path,
                      [in] IUpdaterCallback* callback);
  HRESULT RunPeriodicTasks([in] IUpdaterCallback* callback);
  HRESULT CheckForUpdate([in, string] const WCHAR* app_id,
                         [in] LONG priority,
                         [in] BOOL same_version_update_allowed,
                         [in] IUpdaterObserver* observer);
  HRESULT Update([in, string] const WCHAR* app_id,
                 [in, string] const WCHAR* install_data_index,
                 [in] LONG priority,
                 [in] BOOL same_version_update_allowed,
                 [in] IUpdaterObserver* observer);
  HRESULT UpdateAll([in] IUpdaterObserver* observer);
  HRESULT Install([in, string] const WCHAR* app_id,
                  [in, string] const WCHAR* brand_code,
                  [in, string] const WCHAR* brand_path,
                  [in, string] const WCHAR* tag,
                  [in, string] const WCHAR* version,
                  [in, string] const WCHAR* existence_checker_path,
                  [in, string] const WCHAR* client_install_data,
                  [in, string] const WCHAR* install_data_index,
                  [in] LONG priority,
                  [in] IUpdaterObserver* observer);
  HRESULT CancelInstalls([in, string] const WCHAR* app_id);
  HRESULT RunInstaller(
      [in, string] const WCHAR* app_id,
      [in, string] const WCHAR* installer_path,
      [in, string] const WCHAR* install_args,
      [in, string] const WCHAR* install_data,
      [in, string] const WCHAR* install_settings,
      [in] IUpdaterObserver* observer);
  HRESULT GetAppStates([in] IUpdaterAppStatesCallback* callback);
};
END_INTERFACE

[
  uuid(PLACEHOLDER-GUID-cabd1cfd-2c5f-46a1-8105-564b3a6563ec),
  version(1.0),
  helpstring("Chromium Updater type library")
]
library UpdaterLib {
  importlib("stdole2.tlb");

  [
    uuid(PLACEHOLDER-GUID-b08f92a7-0f66-4788-ade2-12e3ee767337),
    helpstring("Updater Class for per-user applications")
  ]
  coclass UpdaterUserClass
  {
    [default] interface IUnknown;
  }

  [
    uuid(PLACEHOLDER-GUID-9efa113e-960e-415d-9368-8111cf6887a4),
    helpstring("Updater Class for per-system applications")
  ]
  coclass UpdaterSystemClass
  {
    [default] interface IUnknown;
  }

  INTERFACES_IN_LIBRARY;
};
