// Copyright 2020 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

import "oaidl.idl";
import "ocidl.idl";


// Private interfaces for the Chromium Updater.
// For documentation, see the similar types defined in
// updater::UpdateServiceInternal.

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-c4f09781-044f-4870-9ba6-b72ba627dc3a",
      "system":"PLACEHOLDER-GUID-73209e3a-80b6-44dd-98a6-e72bd4bae9ac"
    },
    "tokensToSuffix": ["IUpdaterInternalCallback"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-894794fb-535e-4b6b-8d00-e58f41a72c95),
  helpstring("IUpdaterInternalCallback Interface"),
  pointer_default(unique)
]
interface IUpdaterInternalCallback : IUnknown {
  HRESULT Run([in] LONG result);
};
END_INTERFACE

BEGIN_INTERFACE(
  {
    "uuid": {
      "user":"PLACEHOLDER-GUID-cc5ed350-079e-4789-91d4-f83ce0c87bce",
      "system":"PLACEHOLDER-GUID-72a5f0a6-f5de-4fc0-8f46-ae4eb9649307"
    },
    "tokensToSuffix": ["IUpdaterInternal", "IUpdaterInternalCallback"],
    "addToLibrary": ["user", "system"]
  }
)
[
  object,
  oleautomation,
  uuid(PLACEHOLDER-GUID-1947672a-e51d-4d50-bf1d-f32d850b94c1),
  helpstring("IUpdaterInternal Interface"),
  pointer_default(unique)
]
interface IUpdaterInternal : IUnknown {
  HRESULT Run([in] IUpdaterInternalCallback* callback);
  HRESULT Hello([in] IUpdaterInternalCallback* callback);
};
END_INTERFACE

[
  uuid(PLACEHOLDER-GUID-bf6a517f-a55f-4a24-ae4b-225c075966c5),
  version(1.0),
  helpstring("Chromium Updater internal type library.")
]
library UpdaterInternalLib {
  importlib("stdole2.tlb");

  [
    uuid(PLACEHOLDER-GUID-e4d1bba3-9ea7-4d40-8e71-4be4d7bfc633),
    helpstring("UpdaterInternal per-user Class")
  ]
  coclass UpdaterInternalUserClass
  {
    [default] interface IUnknown;
  }

  [
    uuid(PLACEHOLDER-GUID-ebe1e420-afaf-471b-812c-3241e55630f9),
    helpstring("UpdaterInternal per-system Class")
  ]
  coclass UpdaterInternalSystemClass
  {
    [default] interface IUnknown;
  }

  INTERFACES_IN_LIBRARY;
};
