// Copyright 2020 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

import "oaidl.idl";
import "ocidl.idl";


// Private interfaces for the Chromium Updater.
// For documentation, see the similar types defined in
// updater::UpdateServiceInternal.

[
  uuid(PLACEHOLDER-GUID-e06e0716-c0e6-4c67-b8d6-cf9beabd150b),
  helpstring("IUpdaterInternalCallback Interface"),
  pointer_default(unique)
]
interface IUpdaterInternalCallback : IUnknown {
  HRESULT Run([in] LONG result);
};

[
  object,
  dual,
  uuid(PLACEHOLDER-GUID-d078d752-39d7-4829-92e9-27611b68055f),
  helpstring("IUpdaterInternalCallbackUser Interface"),
  pointer_default(unique)
]
interface IUpdaterInternalCallbackUser : IUpdaterInternalCallback {
};

[
  object,
  dual,
  uuid(PLACEHOLDER-GUID-4b0bc642-93fc-417e-be91-4b5e8dbf4279),
  helpstring("IUpdaterInternalCallbackSystem Interface"),
  pointer_default(unique)
]
interface IUpdaterInternalCallbackSystem : IUpdaterInternalCallback {
};

[
  uuid(PLACEHOLDER-GUID-4fe3d8ec-22b7-4a89-ae39-5ec29fdf244e),
  helpstring("IUpdaterInternal Interface"),
  pointer_default(unique)
]
interface IUpdaterInternal : IUnknown {
  HRESULT Run([in] IUpdaterInternalCallback* callback);
  HRESULT Hello([in] IUpdaterInternalCallback* callback);
};

[
  object,
  dual,
  uuid(PLACEHOLDER-GUID-1d39542f-c795-4f38-a8f7-456029f5949b),
  helpstring("IUpdaterInternalUser Interface"),
  pointer_default(unique)
]
interface IUpdaterInternalUser : IUnknown {
  HRESULT Run([in] IUpdaterInternalCallbackUser* callback);
  HRESULT Hello([in] IUpdaterInternalCallbackUser* callback);
};

[
  object,
  dual,
  uuid(PLACEHOLDER-GUID-48b004e4-f8c1-4672-b435-e3339c05d40a),
  helpstring("IUpdaterInternalSystem Interface"),
  pointer_default(unique)
]
interface IUpdaterInternalSystem : IUnknown {
  HRESULT Run([in] IUpdaterInternalCallbackSystem* callback);
  HRESULT Hello([in] IUpdaterInternalCallbackSystem* callback);
};

[
  uuid(PLACEHOLDER-GUID-12778e38-dc6c-4d53-bcba-b78ffe2d25cf),
  version(1.0),
  helpstring("Chromium Updater internal type library.")
]
library UpdaterInternalLib {
  importlib("stdole2.tlb");

  [
    uuid(PLACEHOLDER-GUID-2e437ffb-f921-47a1-a4de-ae318b9411f4),
    helpstring("UpdaterInternal per-user Class")
  ]
  coclass UpdaterInternalUserClass
  {
    [default] interface IUnknown;
  }

  [
    uuid(PLACEHOLDER-GUID-1bac6195-2f6d-4fe3-bf1e-49bf035f20de),
    helpstring("UpdaterInternal per-system Class")
  ]
  coclass UpdaterInternalSystemClass
  {
    [default] interface IUnknown;
  }

  interface IUpdaterInternalUser;
  interface IUpdaterInternalSystem;

  interface IUpdaterInternalCallbackUser;
  interface IUpdaterInternalCallbackSystem;
};
