/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=../cr_hidden_style_lit.css.js
 * #import=../cr_shared_vars.css.js
 * #scheme=relative
 * #include=cr-hidden-style-lit
 * #css_wrapper_metadata_end */

:host {
  --active-shadow-rgb: var(--google-grey-800-rgb);
  --active-shadow-action-rgb: var(--google-blue-500-rgb);
  --bg-action: var(--google-blue-600);
  --border-color: var(--google-grey-300);
  --disabled-bg-action: var(--google-grey-100);
  --disabled-bg: white;
  --disabled-border-color: var(--google-grey-100);
  --disabled-text-color: var(--google-grey-600);
  --focus-shadow-color: rgba(var(--google-blue-600-rgb), .4);
  --hover-bg-action: rgba(var(--google-blue-600-rgb), .9);
  --hover-bg-color: rgba(var(--google-blue-500-rgb), .04);
  --hover-border-color: var(--google-blue-100);
  --hover-shadow-action-rgb: var(--google-blue-500-rgb);
  --ink-color-action: white;
  /* Blue-ish color used either as a background or as a text color,
   * depending on the type of button. */
  --ink-color: var(--google-blue-600);
  --ripple-opacity-action: .32;
  --ripple-opacity: .1;
  --text-color-action: white;
  --text-color: white;
}

@media (prefers-color-scheme: dark) {
  :host {
    /* Only in dark. */
    --active-bg: black linear-gradient(rgba(255, 255, 255, .06),
                                       rgba(255, 255, 255, .06));
    --active-shadow-rgb: 0, 0, 0;
    --active-shadow-action-rgb: var(--google-blue-500-rgb);
    --bg-action: #ff0183;
    --border-color: var(--google-grey-700);
    --disabled-bg-action: var(--google-grey-800);
    /* TODO(dbeam): get --disabled-bg from Namrata. */
    --disabled-bg: transparent;
    --disabled-border-color: var(--google-grey-800);
    --disabled-text-color: var(--google-grey-500);
    --focus-shadow-color: rgba(var(--google-blue-300-rgb), .5);
    --hover-bg-action: var(--bg-action)
        linear-gradient(rgba(0, 0, 0, .08), rgba(0, 0, 0, .08));
    --hover-bg-color: rgba(var(--google-blue-300-rgb), .08);
    --ink-color-action: black;
    --ink-color: rgba(156, 18, 130, 0.08);
    --ripple-opacity-action: .16;
    --ripple-opacity: .16;
    --text-color-action: white;
    --text-color:  white;
  }
}

:host {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 5.14em;
  height: var(--cr-button-height);
  padding: 8px 16px;
  outline-width: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  border: var(--cr-button-border, 1px solid var(--cr-button-border-color));
  border-radius: 100px;
  background: var(--cr-button-background-color);
  color: var(--cr-button-text-color);
  font-weight: 500;
  line-height: 20px;
  isolation: isolate;
}

@media (forced-colors: active) {
  :host {
    /* Color pipeline colors automatically provide high-contrast colors in
    * high-contrast mode, and fallbackvars have high-contrast fallbacks
    * for critically important states such as disabled state. */
    forced-color-adjust: none;
  }
}

:host(.floating-button) {
  border-radius: 8px;
  height: 40px;
  transition: box-shadow 80ms linear;
}

:host(.floating-button:hover) {
  box-shadow: var(--cr-elevation-3);
}

:host([has-prefix-icon_]),
:host([has-suffix-icon_]) {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  --icon-block-padding-large: 16px;
  --icon-block-padding-small: 12px;
  gap: 8px;
  padding-block-end: 8px;
  padding-block-start: 8px;
}

:host([has-prefix-icon_]) {
  padding-inline-end: var(--icon-block-padding-large);
  padding-inline-start: var(--icon-block-padding-small);
}

:host([has-suffix-icon_]) {
  padding-inline-end: var(--icon-block-padding-small);
  padding-inline-start: var(--icon-block-padding-large);
}

:host-context(.focus-outline-visible):host(:focus) {
  box-shadow: none;
  outline: 2px solid var(--cr-focus-outline-color);
  outline-offset: 2px;
}

#background {
  border-radius: inherit;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

#content {
  display: inline;
}

#hoverBackground {
  content: '';
  display: none;
  inset: 0;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

:host(:hover) #hoverBackground {
  background: var(--cr-hover-background-color);
  display: block;
}

:host(.action-button:hover) #hoverBackground {
  background: var(--cr-hover-on-prominent-background-color);
}

:host([disabled]) {
  background: var(--cr-button-disabled-background-color);
  border: var(--cr-button-disabled-border,
      1px solid var(--cr-button-disabled-border-color));
  color: var(--cr-button-disabled-text-color);
  cursor: auto;
  pointer-events: none;
}

/* cancel-button is meant to be used within a cr-dialog */
:host(.cancel-button) {
  margin-inline-end: 8px;
}

:host(.action-button),
:host(.cancel-button) {
  line-height: 154%;
}

#ink {
  color: var(--cr-button-ripple-color);
  --paper-ripple-opacity: var(--cr-button-ripple-opacity);
}

/* Layering */
#background { z-index: 0; }
#hoverBackground,
cr-ripple { z-index: 1; }
#content,
::slotted(*) { z-index: 2; }
